@page
@model Microwave.Pages.ServiceMapPage

@{
    Layout = null;
}

<div>
    <div class="d-flex">
        <form class="my-2 my-lg-0 p-3 ml-auto" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Discover Dependencies</button>
        </form>
    </div>
    <div class="container">

    </div>
</div>