@page
@model Microwave.Pages.ServiceMapPage
@{
    ViewData["Title"] = "Service Map";
}

<div>
    <div class="d-flex">
        <form class="my-2 my-lg-0 p-3 ml-auto" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Discover Map</button>
        </form>
    </div>
    <div class="container pb-2">
        @if (Model.MapIsDiscovered)
        {
            foreach (var node in Model.ReachableServices)
            {
                <div>
                    <div>
                        @Html.DisplayFor(modelItem => node.ServiceName)
                    </div>
                    @foreach (var n in node.Services)
                    {
                        <div>
                            uses @Html.DisplayFor(modelItem => n.ServiceBaseAddress) @Html.DisplayFor(modelItem => n.Name)
                        </div>
                    }
                </div>
            }

            foreach (var node in Model.UnreachableServices)
            {
                <div>
                    <div>
                        Not discovered:
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => node.ServiceName)
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                Service Map not discovered yet!
            </div>
        }
    </div>
</div>