@page
@model Microwave.UI.Areas.MicrowaveDashboard.Pages.JobsPage

@{
    ViewData["ServiceName"] = Model.ServiceName;
    ViewData["ServiceNameAndTitle"] = Model.ServiceName + " - Jobs";
}

<div>
<div class="container">
    <ul class="list-group p-3">
        @foreach (var job in Model.Jobs)
        {
            <li class="list-group-item d-flex">
                <div>
                    <div class="float-left">
                        @job.GenericType @job.HandlerName @job.EventName
                    </div>
                    <form class="ml-auto float-right" method="post">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="index" value=@job.Index>Trigger now</button>
                    </form>
                </div>
            </li>
        }
    </ul>
</div>
</div>