@page
@model Microwave.UI.Areas.MicrowaveDashboard.Pages.JobsPage

@{
    ViewData["ServiceName"] = Model.ServiceName;
    ViewData["ServiceNameAndTitle"] = Model.ServiceName + " - Jobs";
}

<div>
<div class="container">
    <ul class="list-group p-3">
        @foreach (var job in Model.Jobs)
        {
            <li class="list-group-item">
                <div class="d-flex">
                    <div class="pt-2 float-left">
                        @job.GenericType @job.HandlerName @job.EventName
                    </div>
                    <div class="ml-auto float-right">
                        <div class="pt-2 pr-2 text-secondary float-left">
                            next run: @job.NextRun
                        </div>
                        <form class="float-right" method="post">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="index" value=@job.Index>Trigger now</button>
                        </form>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
</div>