@page
@using Newtonsoft.Json
@model Microwave.UI.Areas.MicrowaveDashboard.Pages.ServiceMapPage
@{
    ViewData["ServiceName"] = Model.ServiceName;
    ViewData["ServiceNameAndTitle"] = Model.ServiceName + " - Map";
}

<div>
    <div class="d-flex">
        <form class="my-2 my-lg-0 p-3 ml-auto" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Discover Map</button>
        </form>
    </div>
    <div class="container pb-2">
        @if (Model.MapIsDiscovered)
        {
            <div id="container"></div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                Service Map not discovered yet!
            </div>
        }
    </div>
</div>

<script src="~/js/sigma.min.js"></script>

@if (Model.MapIsDiscovered)
{
    <script type="module">
        import { initMapNodes } from "/js/servicePageHelpers.js";

        let myNodes = @Html.Raw(JsonConvert.SerializeObject(Model.OrderedNodes));
        let myEdges = @Html.Raw(JsonConvert.SerializeObject(Model.Edges));

        initMapNodes(myNodes, myEdges);
    </script>
}